[worldserver]
#
#    TavernTravel.Enable
#        Описание: Включает или выключает модуль перемещения по тавернам.
#        По умолчанию: 1 (Включено)
#                      0 (Выключено)
TavernTravel.Enable = 1

#    TavernTravel.Cost
#        Описание: Стоимость телепортации в медных монетах.
#        Пример: 1000 = 10 серебряных. 10000 = 1 золотой.
#        По умолчанию: 1000
TavernTravel.Cost = 1000
#    TavernTravel.CastTime
#        Описание: Время чтения заклинания телепортации (в секундах).
#        По умолчанию: 5
TavernTravel.CastTime = 5